*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: bisque;
    height: 5rem;
    line-height: 5rem;
    font-stretch: extra-expanded;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem;
}
img {
height: 170px;
border-radius: 50%;
border: 5px solid black;
object-fit: cover;
/* position: fixed; */
}
.choice{
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color:black;
    border-radius: 50%;
    border-width: 500rem;
    opacity: 0.5;
}
.Score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}
#user-score,#Comp-score,#MOVES{
    font-size: 5rem;
}
#MOVES{
    color: coral;
}

.msg-container{
    margin-top: 2rem;
}
.compcontainer{
    margin-top: 2rem;
    margin-left: 50rem;
    font-weight: 400;
    font-style: italic;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#msg{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    /* display: inline; */
    background-color: rgb(101, 210, 210);
    border-radius: 80%;
    
}
#computer{
    margin-left: 35rem;
    /* position: fixed; */
}
#who{
    margin-top: 5rem;
    margin-right: 3rem;
    font-size: 5rem;
    background-color: chartreuse;
    border-radius: 50%;
    display: inline;
    align-items: center;
    justify-content: center;
}
.choi{
    display: flex;
    justify-content: center;
}